# Configuration OAuth2 Google
GOOGLE_CLIENT_ID=316874582743-ntu3nvld3lh4iodhmjup7uj836eujt0g.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_REDIRECT_URI=http://localhost:5173/auth/callback

# Configuration du service
HOST_IP=localhost
PORT=3001
